%h1 Validate schedule.xml

- if @errors && @errors.count > 0
  %ul
    - @errors.each do |error|
      %li= error
- elsif @errors && @errors.count == 0
  %p
    Submitted schedule.xml is valid!

%form(method="post" action="#{url(settings.sub_path + '/validate')}" )
  %textarea{name: "schedulexml", rows: 40, cols: 100, value: "bla"}
    = params[:schedulexml] || "enter a URL or plain XML"
  %br
  %input(type='submit' value='Validate')
  %a{href: XSD_URL}= "(schedule.xml.xsd"
  = "version: #{settings.xsd_md5[:datetime]} | #{settings.xsd_md5[:md5]})"
